<h2>Lista zadań do wykonania</h2> <br>
<ng-container  *ngIf="tasksActive.length>0; then todo; else nothingtodo"></ng-container>
<ng-template #todo>
  <ol>
<li  *ngFor="let element of tasksActive">
  <p [ngStyle]="{color: getColor()}">{{element.name}} </p>
  <button type="button" class="btn btn-danger" (click)="remove(element)">Usuń</button>
  <button type="button" class="btn btn-success" (click)="done(element)">Done</button>
  <br>
</ol>
</ng-template>
<ng-template #nothingtodo>
  NOTHING TO DO
  <br>

</ng-template>
